.cards_list {
  --grid-repeat: 4;
  --img-h: 280px;
  --title-size: var(--text-l);
  display: grid;
  grid-template-columns: repeat(var(--grid-repeat), 1fr);
}

.cards_list.not-clickable {
  --grid-repeat: 8;
  --img-h: 180px;
  --title-size: var(--text-m);
}

.cards_list li {
  display: grid;
  grid-template-rows: var(--img-h) auto;

  background-color: var(--base-semi-light);
  border-radius: 1rem;
  overflow: hidden;

  border: 1px solid var(--neutral);
  transition: all 0.2s;
}

.cards_list:not(.not-clickable) li {
  cursor: pointer;
}

.cards_list:not(.not-clickable) li:hover {
  border-color: #92ff24;
  box-shadow: 0px 0px 10px #92ff24;
}

.cards_list:not(.not-clickable) li:active {
  transform: scale(0.95);
}

.cards_list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cards_list li h3 {
  font-size: var(--title-size);
  padding: var(--space-xs) var(--space-m);
  text-align: center;
  font-weight: 500;
}

@media (max-width: 980px) {
  .cards_list {
    --grid-repeat: 2;
  }

  .cards_list.not-clickable {
    --grid-repeat: 5;
  }
}

@media (max-width: 700px) {
  .cards_list.not-clickable {
    --grid-repeat: 3;
  }
}

@media (max-width: 450px) {
  .cards_list {
    --grid-repeat: 1;
  }

  .cards_list.not-clickable {
    --grid-repeat: 2;
  }
}
