.cards_list {
}

.cards_list li {
  display: grid;
  grid-template-rows: 350px auto;

  background-color: var(--base-semi-light);
  border-radius: 1rem;
  overflow: hidden;

  border: 1px solid var(--neutral);
  transition: all 0.2s;
  cursor: pointer;
}

.cards_list li:hover {
  border-color: #92ff24;
  box-shadow: 0px 0px 10px #92ff24;
}

.cards_list li:active {
  transform: scale(0.95);
}

.cards_list li img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cards_list li h3 {
  font-size: var(--text-l);
  padding: var(--space-xs) var(--space-m);
  text-align: center;
  font-weight: 500;
}
